%h1= @question.title

%p= @question.description

- if @question.user
  %p Created by #{@question.user.name_display}
  %p At #{@question.created_at}

= link_to "Edit", edit_question_path(@question), class: "btn btn-primary", method: :get  

= link_to "Delete", @question, method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger" 

%hr

%h2 Submit An Answer

- if @answer.errors.any?
  %ul
    - @answer.errors.full_messages.each do |err|
      %li= err 



= form_for [@question, @answer] do |f|
  = f.text_area :body, class: "form-control"
  = f.submit class: "btn btn-success" 

%hr

- @question.answers.each do |answer| 
  = answer.body 
  = button_to "Delete", [@question, answer], method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-xs btn-danger" 
  %hr
  .row
    .col-xs.12
      = form_for [answer, @comment] do |f|
        = f.text_area :body, rows: 2
        = f.submit "Submit Comment", class: "btn btn-sm btn-info"
    %hr
  .row
    - answer.comments.each do |comment|
      .col-xs-11.col-xs-offset-1
        = comment.body
        = link_to "edit", edit_answer_comment_path(answer, comment), class: "btn btn-info btn-xs"
        = button_to "Delete", [answer, comment], method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-danger btn-xs"
        %hr
  %hr