%h1= @question.title

%p= @question.description

- if @question.user
  %p By #{@question.user_name_display}
  %p Created on #{formatted_date(@question.created_at)}
- if @question.user == current_user
  = link_to "Edit", edit_question_path(@question), class: "btn btn-primary", method: :get  
  = link_to "Delete", @question, method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger" 

- if user_signed_in?
  - if @question.favorites.exists?(user_id: current_user.id)
    =link_to "<i class='glyphicon glyphicon-star'></i>".html_safe, [@question, @favorite], class: "btn btn-default", method: :delete
  - else
    =link_to "<i class='glyphicon glyphicon-star-empty'></i>".html_safe, [@question, Favorite.new], class: "btn btn-default", method: :post
- if user_signed_in?
  -if @question.likes.exists?(user_id: current_user.id)
    =link_to "<i class='glyphicon glyphicon-thumbs-down'></i>".html_safe, [@question, @like], class: "btn btn-default", method: :delete
  - else
    =link_to "<i class='glyphicon glyphicon-thumbs-up'></i>".html_safe, [@question, Like.new], class: "btn btn-default", method: :post
  .likes.getaway{style: "color: grey"}
    #{@question.likes.length} user(s) like this question!

%hr

%h2 Submit An Answer

- if @answer.errors.any?
  %ul
    - @answer.errors.full_messages.each do |err|
      %li= err 



= form_for [@question, @answer] do |f|
  = f.text_area :body, class: "form-control"
  = f.submit class: "btn btn-success" 

%hr

- @question.answers.each do |answer| 
  = answer.body 
  = button_to "Delete", [@question, answer], method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-xs btn-danger" 
  %hr
  .row
    .col-xs.12
      = form_for [answer, Comment.new] do |f|
        = f.text_area :body, rows: 2
        = f.submit "Submit Comment", class: "btn btn-sm btn-info"
    %hr
  .row
    - answer.comments.each do |comment|
      .col-xs-11.col-xs-offset-1
        = comment.body
        = formatted_date(comment.created_at)
        = link_to "edit", edit_answer_comment_path(answer, comment), class: "btn btn-info btn-xs"
        = button_to "Delete", [answer, comment], method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-danger btn-xs"
        %hr
  %hr